baseURL: "https://patrickscheid.de"
title: "Patrick Scheid"
paginate: 5
theme: PaperMod

enableRobotsTXT: true
buildDrafts: false
buildFuture: false
buildExpired: false

minify:
  disableXML: true
  minifyOutput: true

params:
  env: production
  title: Patrick Scheid
  description: >
    Patrick Scheid, experienced people-focused, product-minded backend developer in Munich.
    Leveraging a background as a Product Owner and Scrum Master for comprehensive tech solutions.
    Currently I work as an interim engineering manager.

  keywords: [Blog, Portfolio, PaperMod]
  DateFormat: "January 2, 2006"
  defaultTheme: auto
  disableThemeToggle: false
  mainSections:
   - posts

  ShowReadingTime: true
  ShowShareButtons: false
  ShowPostNavLinks: true
  ShowBreadCrumbs: false
  ShowCodeCopyButtons: true
  disableSpecial1stPost: false
  disableScrollToTop: false
  comments: false
  hidemeta: false
  hideSummary: false
  showtoc: false
  tocopen: false

  schema:
    publisherType: Person

  assets:
    disableHLJS: true
    favicon: "favicon.ico"
    favicon16x16: "favicon.ico"
    favicon32x32: "favicon.ico"
    apple_touch_icon: "favicon.ico"
    safari_pinned_tab: "favicon.ico"

  label:
    text: "Home"

  profileMode:
    enabled: true
    title: Patrick Scheid
    subtitle: |
      **Software Engineer**

      **People-Centric & Product-Minded**
    
    introduction: |
      {{< rawhtml >}}
      <div class="profile-introduction"> 
        I'm a software engineer specialised in backend development.
        With my experience as a Product Owner, Scrum Master, and Data Scientist, I bring a unique perspective to software development.
        Based in Munich, I'm passionate about building solutions that add real value to customers.
        Currently I work as an interim engineering manager.
      </div>
      {{< /rawhtml >}} 

    imageUrl: "avatar-20220921-173622.webp"
    imageWidth: 240
    imageHeight: 240
    imageTitle: Avatar

  socialIcons:
    - name: stackoverflow
      url: "https://stackoverflow.com/users/3533066/pscheid"
    - name: github
      url: "https://github.com/pscheid92"
    - name: linkedin
      url: "https://www.linkedin.com/in/pscheid92/"
    - name: email
      url: "mailto:patrick.scheid@protonmail.com"

  cover:
    hidden: true
    hiddenInList: true
    hiddenInSingle: true

  # for search
  # https://fusejs.io/api/options.html
  fuseOpts:
    isCaseSensitive: false
    shouldSort: true
    location: 0
    distance: 1000
    threshold: 0.4
    minMatchCharLength: 0
    keys: ["title", "permalink", "summary", "content"]

menu:
  main:
    - identifier: search
      name: Search
      url: /search/
      weight: 10
    - identifier: about
      name: About
      url: /about/
      weight: 20
    - identifier: cv
      name: CV
      url: /cv-20230411.pdf
      weight: 30
    - identifier: posts
      name: Posts
      url: /posts/
      weight: 40

outputs:
  home:
    - HTML
    - RSS
    - JSON

# Read: https://github.com/adityatelange/hugo-PaperMod/wiki/FAQs#using-hugos-syntax-highlighter-chroma
markup:
  highlight:      
    noClasses: false
    codeFences: true
    guessSyntax: true
    lineNos: true
