---
import type {HTMLAttributes} from 'astro/types';

type Props = HTMLAttributes<'a'>;

const {href, class: className, ...props} = Astro.props;

const pathname = Astro.url.pathname.replace(import.meta.env.BASE_URL, '');
const subpath = pathname.match(/[^\/]+/g);
const isActive = href === pathname || href === '/' + (subpath?.[0] || '');
---

<a href={href} class:list={["header-link", className, {active: isActive}]} {...props}>
    <slot/>
</a>

<style>
    a {
        padding: 1em 1em;
        color: var(--black);
        border-bottom: 4px solid transparent;
        text-decoration: none;
        display: inline-block;
        width: 5em;
        text-align: center;
    }

    a.active {
        border-bottom-color: var(--accent);
    }
</style>
