---
import Socials from "./Socials.astro";
import logo from "../assets/logo.png";
import Brand from "./Brand.astro";
import HeaderLinks from "./HeaderLinks.astro";
---

<header>
    <div class="nav-content">
        <Brand title="Patrick Scheid" image={logo}/>
        <HeaderLinks/>
        <Socials/>
    </div>
</header>

<style>
    header {
        margin: 0;
        padding: 0 1em;
        background: white;
        box-shadow: 0 2px 8px rgba(var(--black), 5%);
        display: flex;
        justify-content: center;
    }

    .nav-content {
        width: 100%;
        max-width: 60rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .nav-content > :global(*) {
        flex: 1;
    }

    .nav-content > :global(.header-links-wrapper) {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    @media (min-width: 600px) {
        .nav-content {
            width: 90%;
        }
    }

    @media (max-width: 900px) {
        .nav-content > :global(.social-links) {
            display: none;
        }

        .nav-content > :global(.header-links-wrapper) {
            justify-content: flex-end;
        }
    }
</style>
