---
import {SITE_TITLE} from '../consts';
import Socials from "./Socials.astro";
import logo from "../assets/logo.png";
import Brand from "./Brand.astro";
import HeaderLinks from "./HeaderLinks.astro";
---

<header>
    <nav>
        <div class="nav-content">
            <Brand title={SITE_TITLE} image={logo}/>
            <HeaderLinks/>
            <Socials/>
        </div>
    </nav>
</header>

<style>
    header {
        margin: 0;
        padding: 0 1em;
        background: white;
        box-shadow: 0 2px 8px rgba(var(--black), 5%);
    }

    nav {
        display: flex;
        justify-content: center;
    }

    .nav-content {
        width: 100%;
        max-width: 60rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    @media (min-width: 600px) {
        .nav-content {
            width: 90%;
        }
    }

    @media (max-width: 900px) {
        .nav-content > :global(.social-links) {
            display: none;
        }
    }
</style>
